.tic-tac-toe {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.tic-tac-toe-board {
    text-align: center;
}

.tic-tac-toe-info {
    margin-left: 30px;
}
