.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.board {
    justify-content: center;
    text-align: center;
}

.history {
    margin-left: 30px;
}
